#!/usr/bin/env python
import pandas as pd

config = dict(
    ensemble_name="SSEF",
    ensemble_members=["wrf-core01_arw"] + ["wrf-core{0:02d}_arw".format(x) for x in range(3, 11)],
    run_dates=pd.DatetimeIndex(start="2016-05-02", end="2016-06-03", freq="1D"),
    single_step=True,
    start_hour=11,
    end_hour=26,
    ens_path="/scratch/01480/dgagne/spring2016_nc/",
    obs_path="/work/01480/dgagne/mesonet_nc_all_sites/",
    site_variables=["radsw", "raddn", "pwat", "cmpref", "hgtsfc", "rh850", "rh700", "rh500", "accppt"],
    neighbor_variables=["radsw"],
    neighbor_stats=["mean", "min", "max", "std", "skew", "kurt"],
    obs_vars=["SRAD_Mean", "CLRI_Mean", "ETRC_Mean", "azimuth_Mean", "zenith_Mean"],
    out_path="/scratch/01480/dgagne/ssef_solar_data_2016/",
    station_info_file="/home1/01480/dgagne/geoinfo.csv",
    neighbor_radius=10,
    map_filename="/home1/01480/dgagne/hagelslag/mapfiles/ssef2015.map",

)
