#!/usr/bin/env python
import pandas as pd

config = dict(
    ensemble_name="SSEF",
    ensemble_members=["wrf-s3cn_arw"] + ["wrf-s3m{0:d}_arw".format(m) for m in range(3, 14)],
    run_dates=pd.DatetimeIndex(start="2015-05-06", end="2015-06-05", freq="1D"),
    single_step=False,
    start_hour=11,
    end_hour=26,
    ens_path="/sharp/djgagne/spring2015_nc/",
    obs_path="/sharp/djgagne/mesonet_nc_all_sites/",
    site_variables=["raddn", "pwat", "rh850", "rh700", "rh600", "rh500", "accppt"],
    neighbor_variables=["raddn", "rh700"],
    obs_vars=["SRAD_Mean", "CLRI_Mean", "ETRC_Mean", "azimuth_Mean", "zenith_Mean"],
    out_path="/sharp/djgagne/ssef_solar_data_2015/",
    station_info_file="/sharp/djgagne/geoinfo.csv",
    neighbor_radius=5,
    map_filename="/home/djgagne/hagelslag/mapfiles/ssef2015.map",

)
