#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, \
    closest_distance, mean_min_time_distance, mean_minimum_centroid_distance, duration_distance
import pandas as pd
import numpy as np

date_index = pd.DatetimeIndex(start="2015-05-12-00T00:00", end="2015-06-05T00:00", freq="1D")
scratch_path = "/sharp/djgagne/"
#ensemble_members = ["wrf-s3cn_arw"]
ensemble_members = ["wrf-s3cn_arw"] + ["wrf-s3m{0:d}_arw".format(m) for m in range(3,14)]
config = dict(dates=date_index.to_pydatetime(),
              start_hour=12,
              end_hour=36,
              watershed_variable="cqgmax",
              ensemble_name="SSEF",
              ensemble_members=ensemble_members,
              model_path=scratch_path + "spring2015_nc/",
              model_watershed_params=(12, 1, 50, 100, 50),
              size_filter=20,
              gaussian_window=1,
              mrms_path=scratch_path + "mrms_spring2015/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(6, 1, 100, 100, 75),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([mean_minimum_centroid_distance, mean_min_time_distance, duration_distance],np.array([0.5, 0.2, 0.3]),
                                    np.array([240000, 6, 6])),
              storm_variables=["uh_max", "r10cmx", "wupmax", "cqgmax", "wdnmax"],
              potential_variables=["mlcape", "mlcins", "sblcl", "srh03", "shr06", "tmp500", "tmp700",
                                   "dewp2m", "temp2m", "sph850", "sph500", "lllr", "lr75"],
              variable_statistics=["mean", "max", "min", "std", "mean_dt", "max_dt"],
              csv_path= scratch_path + "track_data_spring2015_closest_csv/",
              geojson_path=scratch_path + "track_data_spring2015_closest_json/",
              unique_matches=False,
              train=True,
              single_step=False,
              model_map_file="/home/djgagne/hagelslag/mapfiles/ssef2015.map"
             )
