#!/usr/bin/env python

import numpy as np
from datetime import datetime
import os
from sklearn.isotonic import IsotonicRegression

fore_date = datetime.strptime(datetime.utcnow().strftime("%Y%m%d"), "%Y%m%d")

config=dict(ensemble_name="HRRRE",
            num_procs=20,
            start_dates={"train": datetime(2019, 2, 20), "forecast": fore_date},
            end_dates={"train": datetime(2019,4, 21), "forecast": fore_date},
            start_hour=12,
            end_hour=36,
            train_data_path="/ai-hail/aburke/HRRRE/hwt_2019/hagelslag_files/hail_graphics_hrrre_MAXUVV_closest_2019/",
            forecast_data_path="/ai-hail/aburke/HRRRE/hwt_2019/hagelslag_files/hail_graphics_hrrre_MAXUVV_closest_2019/",
            forecast_model_names="Random-Forest",
            forecast_out_path="/ai-hail/aburke/HRRRE/hwt_2019/hagelslag_files/hail_graphics_hrrre_MAXUVV_closest_2019/",
            target_data_path="/hail/aburke/HREF_Scripts_and_Data/Calibration_data/lsr/HRRRE/",
            target_data_names="lsr",
            target_data_minimum_grid_coverage=None,
            calibration_model_names=["Isotonic Regression"],
            calibration_model_objs=[IsotonicRegression()],
            size_threshold=[25,50],
            model_path="/ai-hail/aburke/HRRRE/hwt_2018/hagelslag_files/track_models_MAXUVV_closest_spring2018/",
            run_date_format="%y%m%d",
            map_file="/hail/aburke/hagelslag/mapfiles/hrrre_2019_map.txt"
            )
