#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, start_time_distance
from hagelslag.processing.ObjectMatcher import centroid_distance, time_distance
import os
import pandas as pd
import numpy as np
from datetime import datetime


#date_index = pd.DatetimeIndex(start="2019-04-18T00:00", end="2019-04-21T00:00", freq="1D")

date_index = pd.DatetimeIndex([pd.Timestamp.utcnow().strftime("%Y%m%d")])
path= "/ai-hail/aburke/HRRRE/"
scratch_path= "/ai-hail/data/HRRRE/"

ensemble_members=['hrrre01','hrrre02','hrrre03','hrrre04','hrrre05','hrrre06','hrrre07','hrrre08','hrrre09']

config=dict(dates=date_index.to_pydatetime(),
            start_hour=12, 
            end_hour=36,
            watershed_variable="MAXUVV",
            ensemble_name="HRRRE",
            ensemble_members=ensemble_members,
            model_path=scratch_path,
            model_watershed_params=(8, 1, 80, 100, 60),
            size_filter=12,
            gaussian_window=2,
            mrms_path=path+"MRMS_2018_data/",
            mrms_variable="MESH_Max_60min_00.50",
            mrms_watershed_params=(19, 1, 100, 100, 75),
            object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
        
            track_matcher_params=([centroid_distance, time_distance],
                                     np.array([80000, 2])),
            
            storm_variables=['MAXUVV','MAXDVV','MAXREF_1000','Vertically-integrated liquid',
                            'MXUPHL_5000','Storm relative helicity_3000','Storm relative helicity_1000',
                            'MNUPHL_5000', 'MXUPHL_3000','MNUPHL_3000',
                            'Hail_atmosphere','Hail_sigma'], 
            
            potential_variables=['10 metre U wind component', '10 metre V wind component',
                            'Surface pressure','2 metre dewpoint temperature','2 metre temperature',
                            'MAXUW', 'MAXVW', 'Surface lifted index', 'Convective available potential energy_surface',
                            'Convective inhibition_surface','Precipitable water',
                            'Geopotential Height_cloudTop','Geopotential Height_isothermZero'], 
            
            tendency_variables=[],
            shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
                               "extent"],
            variable_statistics=["mean", "max", "min", "std", "skew",
                                   "percentile_10", "percentile_50", "percentile_90"],
            csv_path=path+"hwt_2019/hagelslag_files/track_data_2019_MAXUVV_closest_csv/",
            geojson_path=path+"hwt_2019/hagelslag_files/track_data_2019_MAXUVV_closest_json/",
	        nc_path=path+"hwt_2019/hagelslag_files/track_data_2019_MAXUVV_patch_nc/",
            unique_matches=True,
	        patch_radius=16,
            closest_matches=True,
	        match_steps=True,              
	        train=False,
            single_step=True,
            label_type="gamma",
            model_map_file="/hail/aburke/hagelslag/mapfiles/hrrre_2019_map.txt",
            mask_file="/hail/aburke/hagelslag/mapfiles/hrrre_us_mask.nc",
            run_date_format="%Y%m%d-%H%M"
            )
