#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance
from hagelslag.processing.ObjectMatcher import centroid_distance, time_distance

import pandas as pd
import numpy as np
from datetime import datetime

work_path = "/glade/p/work/dgagne/"
scratch_path = "/glade/scratch/dgagne/"
date_index = pd.DatetimeIndex(start="2016-05-03", end="2016-06-02", freq="1D")
ensemble_members = ["mem{0:d}".format(m) for m in range(1, 11)]
config = dict(dates=date_index.to_pydatetime(),
              start_hour=13,
              end_hour=36,
              watershed_variable="GRPL_MAX",
              ensemble_name="NCAR",
              ensemble_members=ensemble_members,
              model_path="/glade/scratch/dgagne/RT2016/",
              model_watershed_params=(3, 1, 80, 100, 60),
              size_filter=12,
              gaussian_window=1,
              mrms_path= work_path + "mrms_ncar/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(13, 1, 125, 100, 100),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([centroid_distance, time_distance],
                                     np.array([80000, 2])),
              storm_variables=["UP_HELI_MAX", "GRPL_MAX", "W_UP_MAX", "W_DN_MAX",
                               "RVORT1_MAX", "UP_HELI_MAX03", "WSPD10MAX", "REFD_MAX", "PWAT"],
              potential_variables=["UBSHR6", "VBSHR6", "SRH3", "LCL_HEIGHT", "CAPE_SFC",
                                   "CIN_SFC", "MUCAPE", "MUCIN"],
              tendency_variables=[],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation"],
              variable_statistics=["mean", "max", "min", "std",
                                   "percentile_10", "percentile_50", "percentile_90"],
              csv_path=scratch_path + "track_data_ncar_2016_csv/",
              geojson_path=scratch_path + "track_data_ncar_2016_json/",
              nc_path=scratch_path + "track_data_ncar_2016_nc/",
              patch_radius=32,
              unique_matches=True,
              closest_matches=True,
              match_steps=True,
              train=True,
              single_step=False,
              label_type="gamma",
              model_map_file="/glade/u/home/dgagne/hagelslag/mapfiles/ncar_ensemble_map_2015.txt",
              mask_file="/glade/u/home/dgagne/hagelslag/mapfiles/ncar_2015_us_mask.nc")
