#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, \
    duration_distance, mean_min_time_distance, mean_minimum_centroid_distance
import pandas as pd
import numpy as np

scratch_path = "/glade/scratch/dgagne/"
date_index = pd.DatetimeIndex(start="2015-05-01-00T00:00", end="2015-07-01T00:00", freq="1D")
ensemble_members = ["mem{0:d}".format(m) for m in range(1, 11)]
config = dict(dates=date_index.to_pydatetime(),
              start_hour=12,
              end_hour=36,
              watershed_variable="UP_HELI_MAX",
              ensemble_name="NCAR",
              ensemble_members=ensemble_members,
              model_path="/glade/scratch/sobash/RT2015/",
              model_watershed_params=(25, 5, 300, 100, 200),
              size_filter=16,
              gaussian_window=2,
              mrms_path="/glade/scratch/dgagne/mrms_ncar/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(6, 1, 100, 100, 100),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=(
              [mean_minimum_centroid_distance, mean_min_time_distance, duration_distance], np.array([0.5, 0.3, 0.2]),
              np.array([250000, 4, 4])),
              storm_variables=["UP_HELI_MAX", "GRPL_MAX", "W_UP_MAX", "W_DN_MAX", "HAIL_MAX2D", "HAIL_MAXK1",
                               "LTG3_MAX",
                               "RVORT1_MAX", "UP_HELI_MAX03", "UP_HELI_MIN", "WSPD10MAX"],
              potential_variables=[],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
                               "extent"],
              variable_statistics=["mean", "max", "min", "std", "mean_dt", "max_dt"],
              csv_path=scratch_path + "track_data_ncar_2015_uh_csv/",
              geojson_path=scratch_path + "track_data_ncar_2015_uh_json/",
              unique_matches=True,
              train=True,
              single_step=False,
              label_type="gamma",
              model_map_file="/glade/u/home/dgagne/hagelslag/mapfiles/ncar_ensemble_map_2015.txt"
              )
