#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, \
    duration_distance, start_centroid_distance, start_time_distance, mean_area_distance
import pandas as pd
import numpy as np
from datetime import datetime

scratch_path = "/glade/p/work/dgagne/"
date_index = pd.DatetimeIndex(start="2015-05-01-00T00:00", end="2015-07-30T00:00", freq="1D")
#date_index = pd.DatetimeIndex(start="2016-02-29", end="2016-02-29", freq="1D")
ensemble_members = ["mem{0:d}".format(m) for m in range(1, 11)]
config = dict(dates=date_index.to_pydatetime(),
              start_hour=12,
              end_hour=36,
              watershed_variable="GRPL_MAX",
              ensemble_name="NCAR",
              ensemble_members=ensemble_members,
              #model_path="/glade/scratch/wrfrt/realtime_ensemble/ensf/",
              model_path="/glade/scratch/sobash/RT2015/",
              model_watershed_params=(3, 1, 80, 100, 60),
              size_filter=16,
              gaussian_window=2,
              mrms_path= scratch_path + "mrms_ncar/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(6, 1, 150, 100, 100),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([start_centroid_distance, start_time_distance,
                                     duration_distance, mean_area_distance],
                                    np.array([0.5, 0.3, 0.1, 0.1]),
                                    np.array([160000, 3, 16, 200])),
              storm_variables=["UP_HELI_MAX", "GRPL_MAX", "W_UP_MAX", "W_DN_MAX", "HAIL_MAX2D", "HAIL_MAXK1",
                               "LTG3_MAX", "RVORT1_MAX", "UP_HELI_MAX03", "UP_HELI_MIN", "WSPD10MAX", "REFD_MAX"
                               ],
              potential_variables=["UBSHR1", "VBSHR1", "UBSHR6", "VBSHR6", "PWAT", "SRH3", "LCL_HEIGHT", "CAPE_SFC",
                                   "CIN_SFC", "MUCAPE"],
              tendency_variables=["UBSHR6", "VBSHR6", "REFD_MAX"],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
                               "extent"],
              variable_statistics=["mean", "max", "min", "std", "skew",
                                   "percentile_10", "percentile_50", "percentile_90"],
              csv_path=scratch_path + "track_data_ncar_2015_csv/",
              geojson_path=scratch_path + "track_data_ncar_2015_json/",
              unique_matches=True,
              closest_matches=True,
              train=True,
              single_step=False,
              label_type="gamma",
              model_map_file="/glade/u/home/dgagne/hagelslag/mapfiles/ncar_ensemble_map_2015.txt",
              mask_file="/glade/u/home/dgagne/hagelslag/mapfiles/ncar_2015_us_mask.nc"
              )
