#!/usr/bin/env python

scratch_path = "/glade/scratch/dgagne/"
config = dict(ensemble_name="ssef",
              train_data_path=scratch_path + "track_data_ncar_csv",
              forecast_data_path="/sharp/djgagne/track_data_ncar_2015_csv/",
              member_files={"train":scratch_path + "member_info_ncar_2013.csv",
                            "forecast":scratch_path + "member_info_ncar_2015.csv"},
              data_format="csv",
              group_col="Included",
              condition_model_names=model_names,
              condition_model_objs=model_objs,
              condition_input_columns=input_columns,
              condition_output_column="Hail_Size",
              output_threshold=5,
              size_model_names=model_names,
              size_model_objs=model_objs,
              size_input_columns=input_columns,
              size_output_column="Hail_Size",
              size_range_params=(5,100,5),
              track_model_names=model_names,
              track_model_objs=model_objs,
              track_input_columns=input_columns,
              track_output_columns={"translation-x":"Translation_Error_X",
                                    "translation-y":"Translation_Error_Y",
                                    "start-time":"Start_Time_Error"},
              track_output_ranges={"translation-x":(-100000,100000,25000),
                                   "translation-y":(-100000,100000,25000),
                                   "start-time":(-6,6,1),
                                   },
              load_models=True,
              model_path="/sharp/djgagne/track_models_hs_spring2015/",
              metadata_columns=["Track_ID", "Step_ID"],
              data_json_path="/sharp/djgagne/track_data_spring2015_hs_json/",
              forecast_json_path="/sharp/djgagne/track_forecasts_spring2015_json/",
              copula_file="/sharp/djgagne/track_copulas.pkl",
              )

