#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, start_centroid_distance, start_time_distance
import pandas as pd
import numpy as np

date_index = pd.DatetimeIndex(start="2015-05-12-00T00:00", end="2015-06-05T00:00", freq="1D")
scratch_path = "/sharp/djgagne/"
ensemble_members = ["wrf-s3cn_arw"] + ["wrf-s3m{0:d}_arw".format(m) for m in range(3, 14)]
config = dict(dates=date_index.to_pydatetime(),
              start_hour=12,
              end_hour=36,
              watershed_variable="uh_max",
              ensemble_name="SSEF",
              ensemble_members=ensemble_members,
              model_path=scratch_path + "spring2015_nc/",
              model_watershed_params=(25, 1, 200, 100, 100),
              size_filter=16,
              gaussian_window=2,
              mrms_path=scratch_path + "mrms_spring2015/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(6, 1, 100, 100, 75),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([start_centroid_distance, start_time_distance], np.array([0.7, 0.3]),
                                    np.array([240000, 4])),
              storm_variables=["uh_max", "r10cmx", "wupmax", "cqgmax", "wdnmax", "echotp", "accppt", "pwat",
                               "bku", "bkv"],
              potential_variables=["mlcape", "mlcins", "mucape", "mucins", "sblcl", "srh03", "shr06", "tmp500",
                                   "tmp700", "dewp2m", "temp2m", "sph850", "sph700", "sph500", "lllr", "lr75",
                                   "u10m", "v10m", "u700", "v700"],
              tendency_variables=["mucape", "dewp2m", "temp2m"],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
                               "extent"],
              variable_statistics=["mean", "max", "min", "std", "skew",
                                   "percentile_10", "percentile_25", "percentile_50", "percentile_75", "percentile_90"],
              csv_path=scratch_path + "track_data_spring2015_uh_neighbor_csv/",
              geojson_path=scratch_path + "track_data_spring2015_uh_neighbor_json/",
              unique_matches=False,
              train=True,
              single_step=False,
              label_type="gamma",
              model_map_file="/home/djgagne/hagelslag/mapfiles/ssef2015.map"
              )
