#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, start_time_distance
from hagelslag.processing.ObjectMatcher import mean_minimum_centroid_distance, mean_area_distance, \
    duration_distance, start_centroid_distance
import pandas as pd
import numpy as np

date_index = pd.DatetimeIndex(start="2015-05-12T00:00", end="2015-06-05T00:00", freq="1D")
scratch_path = "/sharp/djgagne/"
#ensemble_members = ["wrf-core{0:02d}_arw".format(m) for m in [1] + range(3, 11)]
ensemble_members = ["wrf-s3cn_arw"] + ["wrf-s3m{0:d}_arw".format(m) for m in range(3, 14)]
config = dict(dates=date_index.to_pydatetime(),
              start_hour=12,
              end_hour=36,
              watershed_variable="cqgmax",
              ensemble_name="SSEF",
              ensemble_members=ensemble_members,
              model_path=scratch_path + "spring2015_nc/",
              model_watershed_params=(3, 1, 80, 100, 60),
              size_filter=16,
              gaussian_window=2,
              mrms_path=scratch_path + "mrms_spring2015/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(6, 1, 100, 100, 80),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([start_centroid_distance, start_time_distance,
                                     duration_distance, mean_area_distance],
                                    np.array([0.5, 0.3, 0.1, 0.1]),
                                    np.array([160000, 3, 16, 200])),
              storm_variables=["uh_max", "r10cmx", "wupmax", "cqgmax", "wdnmax", "pwat",
                               "bku", "bkv", "hgtsfc"],
              potential_variables=["mlcape", "mlcins", "mucape", "sblcl", "srh03", "shr06", "tmp500",
                                   "tmp700", "dewp2m", "sph850", "sph700", "sph500", "lllr", "lr75",
                                   "u700", "v700", "melth", "rh700", "rh500"],
              tendency_variables=[],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
                               "extent"],
              variable_statistics=["mean", "max", "min", "std", "skew",
                                   "percentile_10", "percentile_50", "percentile_90"],
              csv_path=scratch_path + "track_data_spring2016_cqg_closest_csv/",
              geojson_path=scratch_path + "track_data_spring2016_cqg_closest_json/",
              unique_matches=True,
              closest_matches=True,
              train=True,
              single_step=False,
              label_type="gamma",
              model_map_file="/home/djgagne/hagelslag/mapfiles/ssef2015.map",
              mask_file="/home/djgagne/hagelslag/mapfiles/ssef_2015_us_mask.nc"
              )
