#!/usr/bin/env python
from hagelslag.processing.ObjectMatcher import shifted_centroid_distance, start_time_distance
from hagelslag.processing.ObjectMatcher import centroid_distance, time_distance
import pandas as pd
import numpy as np

date_index = pd.DatetimeIndex(start="2016-04-20-00T00:00", end="2016-06-03T00:00", freq="1D")
out_path = "/hail/djgagne/"
ensemble_members = ["wrf-core01_arw"] + ["wrf-core{0:02d}_arw".format(m) for m in range(3, 11)]
ensemble_members += ["wrf-s_phys_rad{0:02d}_arw".format(m) for m in range(2, 11)]

config = dict(dates=date_index.to_pydatetime(),
              start_hour=13,
              end_hour=36,
              watershed_variable="cqgmax",
              ensemble_name="SSEF",
              ensemble_members=ensemble_members,
              model_path="/hail/data/spring2016_nc/",
              model_watershed_params=(3, 1, 80, 100, 60),
              size_filter=12,
              gaussian_window=1,

              mrms_path="/sharp/djgagne/mrms_spring2016/",
              mrms_variable="MESH_Max_60min_00.50",
              mrms_watershed_params=(13, 1, 125, 100, 100),
              object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
                                     np.array([24000])),
              track_matcher_params=([centroid_distance, time_distance],
                                     np.array([80000, 2])),
              storm_variables=["uh_max", "r10cmx", "wupmax", "cqgmax", "accppt", "pwat",
                               "cmpref", "hailsz","hailk1", "uh03mx", "tmp700", "sph700"],
              potential_variables=["cmpref", "mlcape", "mlcins", "mucape", "mucins", "sblcl", "shr06",
                                   "tmp500", "tmp700", "sph850", "sph700", "sph500", "u700", "v700"],
              tendency_variables=[],
              shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
                               "extent"],
              variable_statistics=["mean", "max", "min", "std", "skew",
                                   "percentile_10", "percentile_50", "percentile_90"],
              csv_path=out_path + "track_data_spring2016_cqg_patch_csv/",
              geojson_path=out_path + "track_data_spring2016_cqg_patch_json/",
              nc_path=out_path + "track_data_spring2016_cqg_patch_nc/",
              unique_matches=True,
              closest_matches=True,
              match_steps=True,
              patch_radius=32,
              train=True,
              single_step=True,
              label_type="gamma",
              model_map_file="/home/djgagne/hagelslag/mapfiles/ssef2015.map",
              mask_file="/home/djgagne/hagelslag/mapfiles/ssef_2015_us_mask.nc"
              )
