#!/usr/bin/env python
import numpy as np
import pandas as pd

from hagelslag.processing.ObjectMatcher import mean_minimum_centroid_distance, duration_distance, nonoverlap, \
    mean_min_time_distance

scratch_path = "/glade/p/nmmm0001/sobash/OBJECT_TRACK/"
date_index = pd.DatetimeIndex(start="2015-06-20T00:00", end="2015-06-20T00:00", freq="1D")
config = dict(dates=date_index.to_pydatetime(),
              start_hour=12,
              end_hour=36,
              # watershed_variable="GRPL_MAX",
              watershed_variable="UP_HELI_MAX",
              ensemble_name="NCAR",
              ensemble_members=["mem{0:d}".format(m) for m in range(1, 11)],
              model_path="/glade/scratch/sobash/RT2015/",
              model_watershed_params=(25, 5, 250, 200, 200),
              # decreasing the size threshold results in more broken tracks
              # model_watershed_params=(6, 1, 100, 100, 100),
              # size_filter=10,
              size_filter=0,
              gaussian_window=0,
              # gaussian_window=1,
              mrms_path=None,
              mrms_variable="MRMS_RotationTrackML60min_00.50",
              mrms_watershed_params=(2, 1, 50, 100, 100),
              object_matcher_params=(
                  [nonoverlap],
                  np.array([1.0]),
                  np.array([24000])),  # used 24000 for 11/16
              # object_matcher_params=([shifted_centroid_distance], np.array([1.0]),
              #                       np.array([24000])),
              # object_matcher_params=(
              #    [shifted_centroid_distance,nonoverlap],
              #    np.array([0.5,0.5]),
              #    np.array([24000,24000])), #used 24000 for 11/16
              track_matcher_params=(
                  [mean_minimum_centroid_distance, mean_min_time_distance, duration_distance],
                  np.array([0.4, 0.3, 0.3]),
                  np.array([500000, 1, 6])),
              # storm_variables=["UP_HELI_MAX", "GRPL_MAX", "W_UP_MAX", "W_DN_MAX", "HAIL_MAX2D", "HAIL_MAXK1",
              #                 "LTG3_MAX", "RVORT1_MAX", "UP_HELI_MAX03", "UP_HELI_MIN", "WSPD10MAX"],
              storm_variables=["UP_HELI_MAX", "UP_HELI_MAX03", "RVORT1_MAX", "GRPL_MAX", "W_UP_MAX", "W_DN_MAX",
                               "WSPD10MAX", "T2", "Q2"],
              potential_variables=["CAPE_SFC", "MLCAPE", "MUCAPE", "CIN_SFC", "MLCIN", "LCL_HEIGHT", "SRH1", "SRH3",
                                   "UBSHR1", "VBSHR1", "UBSHR6", "VBSHR6", "T2", "Q2", "PREC_ACC_NC"],
              tendency_variables=[],
              # shape_variables=["area", "eccentricity", "major_axis_length", "minor_axis_length", "orientation",
              #                 "extent"] + ["weighted_moments_hu_{0:d}".format(h) for h in range(7)],
              shape_variables=["area", "major_axis_length", "minor_axis_length"],
              # variable_statistics=["mean", "max", "min", "std", "mean_dt", "max_dt"],
              variable_statistics=["max", "mean", "min"],
              csv_path=scratch_path + "track_data_ncar_2015_csv_UH25_NEW/",
              geojson_path=scratch_path + "track_data_ncar_2015_json/",
              unique_matches=True,
              train=False,
              single_step=False,
              label_type="gamma",
              model_map_file="/glade/u/home/dgagne/hagelslag/mapfiles/ncar_ensemble_map_2015.txt",
              closest_matches=True
              )
